<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Lab</title>
</head>
<body>
    
    <div id="book1">
        {{message}}
        <ul>
            <li v-for="book in books" > 
                {{book.title}} 
                {{book.emoji}}
                <br />
                {{book.author}}
            </li>
        </ul>
    </div>

    <div id="book2">
        {{message}}
        <ul>
            <li v-if="ready" v-for="book in books" > 
                {{book.title}} 
                {{book.emoji}}
                <br />
                {{book.author}}
            </li>
        </ul>
        <button v-on:click="bookTwo" >Show/Hide Book Two</button>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/app.js"></script>
</body>
</html>